### Libraries

In [50]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn import preprocessing

In [51]:
df = pd.read_parquet("Trades_Quote.parquet")
df.head()

  COMPANY        DATE                 TRADE_TIME  ... BIDSIZ    ASK  ASKSIZ
0       C  2024-01-02 2024-01-02 09:32:40.845895  ...    1.0  51.36     1.0
1       C  2024-01-02 2024-01-02 09:32:40.888035  ...    1.0  51.35     1.0
2       C  2024-01-02 2024-01-02 09:32:40.888311  ...    1.0  51.35     1.0
3       C  2024-01-02 2024-01-02 09:32:40.929882  ...    2.0  51.33     1.0
4       C  2024-01-02 2024-01-02 09:32:40.953091  ...    3.0  51.32     1.0

[5 rows x 11 columns]

In [52]:
trade_size = df["SIZE"]
price = df["PRICE"]
bid_price = df["BID"]
bid_size = df["BIDSIZ"]
ask_price = df["ASK"]
ask_size = df["ASKSIZ"]

In [53]:
df["MID"] = (df["ASK"] + df["BID"]) / 2
df["RQS"] = (df["ASK"] - df["BID"]) / df["MID"]
df.head()

  COMPANY        DATE                 TRADE_TIME  ... ASKSIZ     MID       RQS
0       C  2024-01-02 2024-01-02 09:32:40.845895  ...    1.0  51.345  0.000584
1       C  2024-01-02 2024-01-02 09:32:40.888035  ...    1.0  51.335  0.000584
2       C  2024-01-02 2024-01-02 09:32:40.888311  ...    1.0  51.335  0.000584
3       C  2024-01-02 2024-01-02 09:32:40.929882  ...    1.0  51.320  0.000390
4       C  2024-01-02 2024-01-02 09:32:40.953091  ...    1.0  51.310  0.000390

[5 rows x 13 columns]

### Rolling Windows

In [ ]:
rqs_1min = (df.sort_values("TRADE_TIME").set_index("TRADE_TIME")["RQS"]
      .rolling("1min").mean()
)
rqs_1min

TRADE_TIME
2024-01-02 09:30:00.940920         NaN
2024-01-02 09:30:00.940923         NaN
2024-01-02 09:30:00.943365    0.003708
2024-01-02 09:30:00.943383    0.003708
2024-01-02 09:30:01.061387    0.003708
                                ...
2024-01-31 15:59:59.990082    0.000798
2024-01-31 15:59:59.990320    0.000798
2024-01-31 15:59:59.990554    0.000798
2024-01-31 15:59:59.991544    0.000798
2024-01-31 15:59:59.991547    0.000798
Name: RQS, Length: 1991986, dtype: float64

### Test Train Data

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=24)

scaler = preprocessing.StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Linear Regression